<nav>
    <ul>
        <li>
            <a href="/"> Home </a>
        </li>
        <li>
            <a href="/tentang/14116165"> Profil</a>
        </li>
        <li>
            <a href="/tentang/14116165"> Galery</a>
        </li>
    </ul>
</nav>