<html laang="en>
<head>
</head>
<body>
<nav>
<ul>
<li>
<a href="/"> Home </a>
</li>
<li>
<a href="/tentang/14116165"> tentang aku + </a>
</li>
</ul>
</nav>
<section>

<h1> Home </h1>
<h1> Welcome </h1>
<p>anda berada di index.njk + tataletak.njk</p>
</section>
</body>
</html>